<h4 style="text-align:center">About/Help</h4>
<p>
    <strong>Class:</strong> a class is a list of students. You can have as many classes as you want by creating them in the `Add Class` tab.
</p>
<p>
    <strong>Students:</strong> to create a list in a selected class, simple add them on the `Add Student` tab. You can add them individually or as a list separated by a comma and then click Add Student button. ex: `Matt` or `Matt,Bobby,Kenny,Rick`
</p>
<p>
    <strong>Edit: </strong> to edit the selected class's students, click the edit button (Top bar next to about/help). This will allow editing of that class's students.
</p>
<p>
    <strong>Randomizing: </strong> to randomize a list of students. select the Randomize button (Top next to Edit). This will allow you to randomize either by single or in groups of 2, 3, or 4.
</p>
<p>
    If you have questions or it broke or whatever, my email is <strong>Kyler.Love@gmail.com</strong>. I'll see what I can do.
</p>