<md-toolbar color="primary" class="headerTop">
    <div>
        <span style="margin-right:30%;">{{title}}</span>
    </div>
    <div class="right">
        <button md-mini-fab style="margin-left:10%;" (click)="needHelp()">
            <i class="fa fa-question-circle-o fa-2x"></i></button>
        <button md-mini-fab style="margin-left:10%;" (click)="editData()">
            <i class="fa fa-pencil fa-2x"></i></button>
    </div>
</md-toolbar>
<div class="row">
    <div class="col-5 editCard">
        <md-tab-group style="margin-top:5%;">
            <md-tab label="Add Student">
                <div>
                    <md-toolbar style="margin-top:5%;">
                        <md-input-container>
                            <input mdInput color="primary" placeholder="Name" [(ngModel)]="newName" />
                        </md-input-container>
                    </md-toolbar>
                    <button md-raised-button color="primary" class="right" (click)="addStudent()">
                        <i class="fa fa-user-plus" style="margin-right:3px;"></i>
                        Add Student</button>
                </div>
            </md-tab>
            <md-tab label="Add Class">
                <div>
                    <md-toolbar style="margin-top:5%;">
                        <md-input-container>
                            <input mdInput color="primary" placeholder="Class Name" [(ngModel)]="newClass" />
                        </md-input-container>
                    </md-toolbar>
                    <button md-raised-button color="primary" class="right" (click)="addClass()">Add Class</button>
                </div>
            </md-tab>
        </md-tab-group>
        <div *ngIf="classes">
            <md-radio-group style="margin-top:10%;" class="example-radio-group" [(ngModel)]="selectedClass">
                <md-radio-button class="example-radio-button" *ngFor="let classs of classes" [value]="classs">
                    {{classs[0]}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div class="col-6">
        <ul *ngIf="selectedClass && selectedClass.length > 0">
            <li *ngFor="let cls of selectedClass[1]">{{cls}}</li>
        </ul>
    </div>
</div>